<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>ISOTOPE PREDICTION</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'index/vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="{% static 'index/css/creative-studio.css' %}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <script>
{% for msg in messages %}

    alert('{{ msg }}');
{% endfor %}

</script>
    
    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#">
<!--                <img src="https://drive.google.com/file/d/1vAaRBuG4EcDR0WXI9qXagFwpH7Ms-UeP/view?usp=sharing" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/organisation_register/">ORAGANISATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_login/">ADMIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cypherr_register/">TECHNICAL TEAM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Process_register/">PROCESS TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analyse_register/">RADIO TESTING TEAM</a>
                    </li>
                    <li class="nav-item">
<!--                        <a class="nav-link" href="#blog">Blog</a>-->
                    </li>
                    <li class="nav-item">
<!--                        <a class="nav-link" href="#contact">Contact</a>-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-sm ml-lg-3" href="https://study.com/cimages/multimages/16/radioisotopespic3.png">ISOTOPES</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h6 class="subtitle">ENSURE YOUR SAFETY WITH</h6>
            <h5 class="title"> <center><font color="#ff214f">RADIO ISOTOPES PREDICTION</font></center></h5>
            <div class="buttons text-center">
                <a href="#service" class="btn btn-primary rounded w-lg btn-lg my-1">OUR SERVICE</a>
                <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">LOG OUT</a>
            </div>              
        </div>      
    </header>
    <!-- End Of Page Header -->

    <!-- Box -->
    <div class="box text-center">
        <div class="box-item">
            <i class="ti-angle-double-up"></i>
            <h6 class="box-title">EFFICIENCY</h6>
            <p>Make things faster and better by finding easier ways to do.</p>
        </div>
        <div class="box-item">
            <i class="ti-thumb-up"></i>
            <h6 class="box-title">SAFETY</h6>
            <p>Ensure safety protocols by taking relevant reports to prevent accidents in industries.</p>
        </div>
        <div class="box-item">
            <i class="ti-shield"></i>
            <h6 class="box-title">RESILIENCE</h6>
            <p>Incorpurates reductancy and backup plans for continuous operation.</p>
        </div>
    </div>
    <!-- End of Box -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="https://us.images.westend61.de/0001515153pw/smiling-business-people-having-discussion-in-meeting-while-sitting-at-office-JSRF01362.jpg" alt="ISOTOPE PREDICTION" class="w-100 img-thumbnail mb-3"/>
                </div>
                <div class="col-md-7 col-lg-8">
                    <h6 class="section-subtitle mb-0">IN THIS</h6>
                    <h6 class="section-title mb-3">IN OUR PROJECT</h6>
                    <p align="justify">By analyzing historical data ,these models can anticipate maintenance needs and schedule repairs proactively. These predictive capabilities lead to improved efficiency, cost savings, enhanced customer satisfaction 
                    Due to their high accuracy potential, these predictive methods are primarily classification techniques in machine learning. 
                    Therefore, in our project, we use one of these classification techniques to predict the necessary isotope in businesses and secure the data using an encryption standard system.</P>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Section -->

    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-subtitle">THE PROCESS</h6>
            <h6 class="section-title mb-6">WHAT WE DO ?</h6>
            <div class="widget mb-4">
                <div class="widget-item">
                    <i class="ti-bag"></i>
                    <h4>Collecting</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-reload"></i>
                    <h4>Analysing</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-settings"></i>
                    <h4>Predicting</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-thumb-up"></i>
                    <h4>Providing</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Of About Sectoin -->

    <!-- Service Section -->
    <section id="service">
        <div class="container">
            <h6 class="section-subtitle text-center">WE DO</h6>
            <h5 class="section-title text-center mb-6">SERVICES</h5> 
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-bag"></i></h2>
                            <h6 class="card-title">COLLECTING</h6>
                            <p>Collecting the datas and details from the organisation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-reload"></i></h2>
                            <h6 class="card-title">ANALYSING</h6>
                            <p>Analyse the provided data to give the accurate values.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-settings"></i></h2>
                            <h6 class="card-title">PREDICTION</h6>
                            <p>Prediciting the required isotopes for organisation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-thumb-up"></i></h2>
                            <h6 class="card-title">PROVIDING</h6>
                            <p>Accurate datas and required isotope for organisation.</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!-- End of Service Section -->

    <!-- Portfolio section -->
    <section id="portfolio">
        <div class="container text-center">
            <h6 class="section-subtitle">OVERVIEW</h6>
            <h6 class="section-title mb-5">OTHER TECHNIQUES</h6>
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="https://i.im.ge/2024/04/30/Zt3hvx.NAIVE.jpeg" alt="NAIVE">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5 style="font-size: 80%;">AN AUTOMATED ISOTOPE IDENTIFICATION ALGORITHM USING BAYESIAN STATISTICS</h5>
                                
                                <a href="https://i.im.ge/2024/04/30/Zt3hvx.NAIVE.jpeg"><i class="ti-zoom-in"></i></a>
                                <a href="https://ieeexplore.ieee.org/abstract/document/6829487"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                    </div>                
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="https://i.im.ge/2024/05/01/Zteoz8.GBT.jpeg" height="230PX" alt="GBT">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5 style="font-size: 75%;">GRADIENT BOOSTING CLASSIFIER BENEFITS</h5>
                                
                                <a href="https://i.im.ge/2024/05/01/Zteoz8.GBT.jpeg"><i class="ti-zoom-in"></i></a>
                            </div>  
                        </div>
                    </div>                
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="https://i.im.ge/2024/04/30/Zt356J.ANN.jpeg" alt="ANN">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5 style="font-size: 75%;">AUTOMATED ISOTOPE PREDICTION ALGORITHM USING ARTIFICIAL NEURAL NETWORK</h5>
                                <a href="https://i.im.ge/2024/04/30/Zt356J.ANN.jpeg"><i class="ti-zoom-in"></i></a>
                                <a href="https://www.researchgate.net/publication/316078439_Automated_Isotope_Identification_Algorithm_Using_Artificial_Neural_Networks"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </section>
    <!-- End of portfolio section -->


     <!-- Fatcs Section -->
    <section class="has-bg-img bg-img-2">
        <div class="container text-center">
            <h6 class="section-subtitle">RESPONSIVE AT EVERY TURN</h6>
            <h6 class="section-title mb-6">YOUR FEEDBACK SHAPES OUR PATH</h6>
                <div class="widget-2">
                    <div class="widget-item">
                        <i class="ti-cup"></i>
                        <h6 class="title">Benefited</h6>
                        <div class="subtitle">To the company</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-face-smile"></i>
                        <h6 class="title">Trusted</h6>
                        <div class="subtitle">Happy Clients</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-blackboard"></i>
                        <h6 class="title">Service</h6>
                        <div class="subtitle">Provided</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-comments-smiley"></i>
                        <h6 class="title">Many</h6>
                        <div class="subtitle">FAQs solved</div>
                    </div>
                </div>
        </div>
    </section>

    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <h6 class="section-subtitle text-center">CLIENT</h6>
            <h6 class="section-title mb-6 text-center">INDUSTRIES</h6>

            <div class="row">
                <div class="col-md-4">
                    <div class="card blog-post my-4 my-sm-5 my-md-0">
                        <img src="https://www.ibef.org/assets/images/Oil-Gas-2.jpg" alt="BL1" height="240px">
                        <div class="card-body">
                            <div class="details mb-3">
                                <a href="http://127.0.0.1:8000/organisation_register/"><i class="ti-comments"></i> 123</a>
                                <a href="http://127.0.0.1:8000/organisation_register/"><i class="ti-eye"></i> 123</a>
                            </div>
                            <h5 class="card-title">ISOTOPE USAGE IN FUEL INDUSTRY</h5>
                            <p align="justify">Isotopes are pivotal in the fuel industry for nuclear energy production. They're used in nuclear fuel production and enrichment, fuel testing and analysis, safety monitoring in reactors, nuclear waste management, and research and development. Isotopes enable efficient energy generation and ensure the safe operation of nuclear facilities, playing a critical role in advancing nuclear energy technologies.</p>
                            <a href="http://127.0.0.1:8000/organisation_register/" class="d-block mt-3">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card blog-post my-4 my-sm-5 my-md-0">
                        <img src="https://www.anl.gov/sites/www/files/2021-04/16x9_Scientists_Isotope_32609D44.jpg" alt="BL2" height="240px">
                        <div class="card-body">
                            <div class="details mb-3">
                                <a href="http://127.0.0.1:8000/organisation_register/"><i class="ti-comments"></i> 434</a>
                                <a href="http://127.0.0.1:8000/organisation_register/"><i class="ti-eye"></i> 987</a>
                            </div>
                            <h5 class="card-title">ISOTOPE USAGE IN MEDICAL INDUSTRY</h5>
                            <p align="justify">Isotopes are widely used in the medical industry for diagnostic imaging, cancer therapy, thyroid treatment, pain management, cardiac imaging, and research. They are utilized in procedures like PET, SPECT, and targeted radionuclide therapy to visualize organs, treat cancer, regulate thyroid function, relieve pain, and study biological processes. Isotopes play a crucial role in modern medicine, enabling accurate diagnosis, effective treatment, and ongoing research to improve patient care.</p>
                            <a href="http://127.0.0.1:8000/organisation_register/" class="d-block mt-3">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card blog-post my-4 my-sm-5 my-md-0">
                        <img src="https://pbs.twimg.com/media/EJ8VxKuWwAYrrlo?format=jpg&name=4096x4096" alt="BL3" height="240px">
                        <div class="card-body">
                            <div class="details mb-3">
                                <a href="http://127.0.0.1:8000/organisation_register/"><i class="ti-comments"></i> 164</a>
                                <a href="http://127.0.0.1:8000/organisation_register/"><i class="ti-eye"></i> 425</a>
                            </div>
                            <h5 class="card-title">ISOTOPE USAGE IN R&D</h5>
                            <p align="justify">Isotopes are used in R&D for tracer studies, radiometric dating, isotopic labeling, NMR spectroscopy, environmental tracing, isotope geochemistry, and medical research. They help track molecules, date geological samples, analyze molecular structures, study environmental processes, understand Earth's history, and advance medical knowledge. Isotopes are versatile tools that enable scientists to probe complex phenomena and make significant contributions across various fields of research and development.</p>
                            <a href="http://127.0.0.1:8000/organisation_register/" class="d-block mt-3">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Blog Section -->


     <!-- Video Section -->
    <section class="has-bg-img py-lg">
        <div class="container text-center">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary play-control" data-toggle="modal" data-target="#exampleModalCenter">
              <i class="ti-control-play" ></i>
            </button>
            <h6 class="section-title mt-4">TEAM PROCESS</h6>

        </div>
    </section>
    <!-- End of Video Section -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <iframe src="https://drive.google.com/file/d/1FtUu_uuO21W6e1oKc7vqzgqDVPeBrl_b/preview" width="820" height="480" allow="autoplay"></iframe>
            </div>
        </div>
    </div>
    <!-- end of modal -->

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="contact-card">
                <div class="infos">
                    <h6 class="section-subtitle">Get Here</h6>
                    <h6 class="section-title mb-4">Contact Us</h6>

                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Location</h5>
                            <p> CAHCET, MELVISHARAM, RANIPET</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Phone Number</h5>
                            <p>+91 95003 00524</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email Address</h5>
                            <p>jenishjebakumar@gmail.com</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class></i>
                        <div class="mb-0">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <h6 class="section-subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form action="https://mail.google.com">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="7" class="form-control form-control-lg" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->

    <!-- Team Section -->
    <section id="team">
        <div class="container">
            <h6 class="section-subtitle text-center">ABOUT</h6>
            <h6 class="section-title mb-5 text-center">TEAM MEMBERS</h6>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center mb-4">
                        <img class="card-img-top inset" src="https://i.im.ge/2024/04/30/ZPnQOW.khan.jpeg">
                        <div class="card-body">
                            <h6 class="small text-primary font-weight-bold">MEMBER</h6>
                            <h5 class="card-title">AHMED KHAN</h5>
                            <p>C Abdul Hakeem College of Engineering and Technology</p>
                            <div class="socials">
                                <a href="http://www.facebook.com/login"><i class="ti-facebook"></i> </a>
                                <a href="https://www.linkedin.com/in/ahmed--khanj?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ti-linkedin"></i></a>
                                <a href="https://mail.google.com"><i class="ti-email"></i></a>
                                <a href="http://www.instagram.com/ahmedkhan_1602"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center mb-4">
                        <img class="card-img-top inset" src="https://i.im.ge/2024/04/30/ZPnTm0.jenish.jpeg">
                        <div class="card-body">
                            <h6 class="small text-primary font-weight-bold">MEMBER</h6>
                            <h5 class="card-title">JENISH JEBAKUMAR</h5>
                            <p>C Abdul Hakeem College of Engineering and Technology</p>
                            <div class="socials">
                                <a href="http://www.facebook.com/login"><i class="ti-facebook"></i> </a>
                                <a href="https://www.linkedin.com/in/jenish-jebakumar-s?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ti-linkedin"></i></a>
                                <a href="https://mail.google.com"><i class="ti-email"></i></a>
                                <a href="http://www.instagram.com/jeni_sh_jebakumar"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center mb-4">
                        <img class="card-img-top inset" src="https://i.im.ge/2024/04/30/ZPnuYG.sandyy.jpeg">
                        <div class="card-body">
                            <h6 class="small text-primary font-weight-bold">MEMBER</h6>
                            <h5 class="card-title">SANTHOSH KANNAN</h5>
                            <p>C Abdul Hakeem College of Engineering and Technology</p>
                            <div class="socials">
                                <a href="http://www.facebook.com/login"><i class="ti-facebook"></i> </a>
                                <a href="https://www.linkedin.com/in/santhosh-kannan-btech?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ti-linkedin"></i></a>
                                <a href="https://mail.google.com"><i class="ti-email"></i></a>
                                <a href="http://www.instagram.com/sandy._.ambrose"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Team Sectoin -->


    <section class="has-bg-img py-0">
        <div class="container">
            <div class="footer">
                <div class="footer-lists">
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">ABOUT US</h6>
                        </li>
                        <li class="list-body">
                            <a href="#" class="logo">
                                <img src="https://media.licdn.com/dms/image/C510BAQF-G7ddagYq-w/company-logo_200_200/0/1630577102674/cahcet_in_logo?e=2147483647&v=beta&t=gcQKsIi8YeAoLqbv6HkgrsC06F3gZjYy1BPGPqTMieY" alt="developed" height="40px"><br>
                                <h6>Developed by CAHCET students.</h6>
                            </a>
                            <p>1.SANTHOSH KANNAN <br> 2.JENISH JEBAKUMAR <br> 3.AHMED KHAN </p> 
                            <p class="mt-3">
                                COPYRIGHTS <script>document.write(new Date().getFullYear())</script> OWNED BY CAHCET STUDENTS &copy; <a class="d-inline text-primary" href="http://www.santhoshkannanvm@gmail.com">CAHCET</a>
                            </p>                   
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">USEFUL LINKS</h6>
                        </li>
                        <li class="list-body">
                            <div class="row">
                                <div class="col">
                                    <a href="#about">About</a>
                                    <a href="#service">Service</a>
                                    <a href="#portfolio">Existed</a>
                                    <a href="#blog">Blog</a>
                                    <a href="#contact">Contact</a>               
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <a href="#contact">Contact us through the below mentioned details</a>
                            <p><i class="ti-location-pin"></i>CAHCET, MELVISHARAM, RANIPET</p>
                            <p><i class="ti-email"></i> santhoshkannanvm@gmail.com</p>
                            <div class="social-links">
                                <a href="http://www.facebook.com/login" class="link"><i class="ti-facebook"></i></a>
                                <a href="http://www.twitter.com/jebakumarjenish" class="link"><i class="ti-twitter-alt"></i></a>
                                <a href="http://www.google.com" class="link"><i class="ti-google"></i></a>
                                <a href="http://www.pinterest.com" class="link"><i class="ti-pinterest-alt"></i></a>
                                <a href="http://www.instagram.com/sandy._.ambrose" class="link"><i class="ti-instagram"></i></a>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>    
        </div>
    </section>

    <!-- core  -->
    <script src="{% static 'index/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'index/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'index/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Creative Studio js -->
    <script src="{% static 'index/js/creative-studio.js.js' %}"></script>

</body>
</html>
