<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Neon text-shadow effect</title>
  <link href='https://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'><link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bad+Script|Gruppo|Kumar+One+Outline|League+Script|Londrina+Outline|Monoton|Sriracha|Yellowtail&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789?+'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<x-sign>
  OPEN
</x-sign>
<x-sign>
  Come back soon
</x-sign>
<x-sign>
  PBR<br>in cans
</x-sign>
<x-sign>
  REAL LIVE<br>Hot wings
</x-sign>
<x-sign>
  <small>GARDEN PARK</small><br>MOTEL
</x-sign>
<x-sign>
   Restrooms
  <br><small>Yes&mdash;they are bad</small>
</x-sign>
<x-sign>
  FREE RADIOS
</x-sign>
<x-sign>
   WHO YOU GONNA CALL?
</x-sign>
<x-sign>
  Karaoke Inside
</x-sign>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
