<!DOCTYPE html>
<html lang="en" >
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>CodePen - Only CSS: Text Wave</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Anton'>
  <link rel="stylesheet" href="{% static 'process/redirect/style.css' %}">

</head>
<body>
<script>


        setTimeout(function() {
            window.location.href = "{% url 'view_completed_isotope' %}";
        }, 4000);  // Delay in milliseconds (2 seconds in this example)


</script>
<!-- partial:index.partial.html -->
<!-- Please typing your favorite word!-->
<div id="ui">
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
  <div class="text">Redirecting</div>
</div>
<!-- partial -->
  
</body>
</html>
